#sandbox
{
	position: relative;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#sandbox div
{
	position: relative;
}

#timer
{
	position: relative;
	left: 500px;
	color: #FFFFFF;
	font-size: 30px;
}