body {
	background-color: #341717;
	margin: 0;
	position: center;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Nunito', sans-serif;
}

header, footer {
	font-family: helvetica;
	background: #341717;
	color: #f2f2f2;
	text-align: center;
	font-size: 3em;
	width: auto;
	padding: .75em;
	padding-right: 2em;
	padding-top: .3em;
}

header{
	background-image:url('banner.png');
	text-align: left;
}
#main {
	color: rgb(242,242,242);
	width: 100%;
}

#main p {
	text-align: center;
}

#playbutton
{
	float: right;
}

.clear-all
{
	clear: both;
}