body {
	background-color: #000000;
	margin: 0;
}

header, footer {
	font-family: helvetica;
	background: #341717;
	color: #f2f2f2;
	text-align: center;
	font-size: 3em;
	width: 100%;
}

header{
	text-align: left;
}

nav {
	overflow: hidden;	
}

nav a {
	background-color: #990033;
	color: rgb(242,242,242);
	font-variant: small-caps;
	padding: 5px 0;
	text-align: center;
	text-decoration: none;
	
	width: 50%;
	display: block;
	float: left;
	
}

nav a:hover {
	background-color: rgb(242,242,242);
	color: rgb(68,175,242);
}

#main {
	color: rgb(242,242,242);
	padding: 30px;
	width: 840px;
}

.button
{
	float: right;
}

.clear-all
{
	clear: both;
}