body {
	background-color: #341717;
	margin: 0;
	position: center;
	font-family: 'Nunito', sans-serif;
}

header, footer {
	font-family: helvetica;
	background: #341717;
	color: #f2f2f2;
	text-align: center;
	font-size: 3em;
	width: auto;
	position: relative;
}

header{
	text-align: left;
	background-image:url('GameAssets/images/banner.png');
	padding: .75em;
	padding-right: 2em;
	padding-top: .3em;
	
}

.login
{
	float: right;
}

#hud
{
	color: white;
}

#topbar{
	
}

#main {
	color: rgb(242,242,242);
	width: auto;
}

#game {
	display: none;
	color: rgb(242,242,242);
	width: 100%;
	text-align: center;
}

#main p {
	text-align: center;
}

#playbutton
{
	float: right;
	cursor: pointer;
	margin-left: 20px;
}

.clear-all
{
	clear: both;
}
