<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='my_styles.css') }}" />
		<script src="{{ url_for('static', filename='jquery-1.11.0.js') }}"></script>
		
		<link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css' />
			
		<title>CS360</title>
	</head>

	<body>

		<script src="{{ url_for('static', filename='gallery.js') }}"></script>
		
		<header>
			
			<img id="title" src="{{ url_for('static', filename='title.png') }}" title=""  height="150" width="300"/>
			<img src="{{ url_for('static', filename='playbutton.png') }}" id="playbutton" onmousedown=downbutton(this) onmouseup=upbutton(this) height="100" width="150" title=""/>

			<script>
			function downbutton(img){
				img.src="{{ url_for('static', filename='playbuttondown.png') }}";
			}

			function upbutton(img){
				img.src="{{ url_for('static', filename='playbutton.png') }}";
			}
			</script>
		
			<script>
				$("#playbutton").click(function(){
					$("#title").slideUp("fast");
					$("#playbutton").slideUp("fast");
					$("#git").fadeOut("fast");
					$(".switchable").fadeOut("fast");
					$("#game").fadeIn("fast");
					location.href='http://107.170.214.200/game';
				});
				
			</script>

		</header>
		
		<section id="main" class = "switchable">
			<div id = "connection"></div>
		
			<div id="image_container">
				<img class="landscape" src="{{ url_for('static', filename='images/landscape.jpg') }}" alt="Visiting an old friend." title=""/>
				<img class="aspire" src="{{ url_for('static', filename='images/aspire.jpg') }}" alt="Get Cape. Wear Cape. Fly." title=""/>
				<img class="nes" src="{{ url_for('static', filename='images/nes.jpg') }}" alt="Classic." title=""/>
			</div>

			<p>Welcome to Key Hopper! Improve your typing abilities and have a little fun in the process!</p>
		</section>
		
		<section id="game">
			<div id="test">GAME GOES HERE</div>
		</section>
		
		<footer>
				<a href = "http://github.com/ritchiejc/typing_game" target="_blank"> <img id="git" src="{{ url_for('static', filename='githubsymbol.png') }}" height="200" width="200"/> </a></h3>
		</footer>

	</body>
</html>